@font-face {
    font-family: 'FrescaReg';
    src: url('./resources/fonts/Fresca-Regular.ttf');
}

* {
    font-family: 'Mada', helvetica, arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align:center;
}
body, html {
    position:fixed;
    height: 100%;
    margin: 0;
    width: 100%;
}
h3 {
    font-family: 'FrescaReg';
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 0px;
    padding-top:10px;
}
span {
    background-color: #C7E1FF;
    white-space: pre;
}

.bold {
    font-weight:bold;
}
.contact-info {
    align-items: center;
    display: flex;
    text-align: left;
    vertical-align: middle;
}
.contact-method {
    align-items: center;
    display: flex;
    font-size: 20px;
    padding-left: 8px;
    text-align: left;
    vertical-align: middle;
}
.hidden {
    display: none;
}
.intro {
    margin: auto;
    margin-top: 0px;
    text-align: left;
    width: 50%;
}
.menu {
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    margin: auto;
    margin-bottom: 0px;
    overflow: hidden;
    row-gap: 10px;
    text-decoration:solid;
    white-space: nowrap;
    width: 350px;
}
.menu-name {
    font-family: 'Mada', Helvetica, Arial, sans-serif; 
    text-align: left;
}
.menu-name:after {
    left: 50px;
    width: 0;
    white-space: nowrap pre;
    content:
    " . . . . . . . . . . . . . . . . . . . . . . . ."
    " . . . . . . . . . . . . . . . . . . . . . . . ."
}
.menu-price {
    font-family: 'FrescaReg'; 
    text-align: right;
}
.tab-btn {
    background-color:#85c3fa;
    color: black;
    border: none;
    border-top: solid lightslategray 15px;
    outline: none;
    cursor: pointer;
    padding: 14px 14px;
    font-size: 18px;
    width: 33.3333%;
    margin-top: -10px;
}
.tab-btn:hover {
    font-weight: bold;
}
.selected-tab {
    background-color: #85c3fa;
    background-image: url(./resources/images/tab_cloud.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    font-weight:bold;
}

#contact-info {
    display: inline-grid;
    font-family: 'FrescaReg';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: auto;
    margin-top: 15px;
    row-gap: 10px;
    vertical-align: middle;
    width: 300px;
}
#content {
    background: linear-gradient(0deg, rgba(199,225,255,1) 95%, rgba(133,195,250,1) 100%);
    bottom: 0;
    height: 100%;
}
#footer {
    bottom: 0px;
    left: 0px;
    position:absolute;
}
#full-menu {
    left: 0;
    padding-top: 20px;
    position:absolute;
    right: 0;
}
#intro {
    padding-bottom: 18px;
}
#subtitle {
    font-family: 'FrescaReg';
    font-size: 32px;
    margin-top:0;
    margin-bottom: 10px;
    padding-top: 25px;
}

@media only screen
  and (orientation: portrait)
    {
        #logo {
            width: 100%;
        }
    }

@media only screen
  and (min-device-width: 320px) 
  and (max-device-width: 760px) 
  and (orientation: portrait)
    {  
        * {
            font-size: 48px;
        }
        h3 {
            font-size: 56px;
            margin-bottom: 20px;
            margin-top: 20px;
            font-weight: bold;
        }
        .contact-method {
            font-size: 56px;
        }
        .intro {
            font-size: 46px;
            text-align:center;
            width: 85%;
        }
        .menu {
            font-size: 56px;
            row-gap: 16px;
            width: 700px;
        }
        .tab-btn {
            font-size: 48px;
            margin-top: -40px;
        }
        #contact-info {
            font-size: 52px;
            margin: auto;
            width: 70%;
        }
        #full-menu {
            padding-top: 70px;
        }
        #logo {
            width: 100%;
        }
        #subtitle {
            font-size:74px;
            margin-bottom: 10px;
            padding-top: 100px;
        }
    } 
@media only screen 
    and (min-device-width: 350px) 
    and (max-device-width: 1000px)
    and (orientation: landscape) {  
        h3 {
            font-size: 18px;
            position:absolute;
            left: 300px;
            margin: 0px;
        }
        .intro{
            font-size: 16px;
            width: 36%;
        }
        .menu {
            font-size: 18px;
            margin-bottom: 5px;
            row-gap: 0px;
            width: 250px;
        }
        .menu-name {
            font-size: 18px;
            margin-bottom: 5px;
            margin-top: 5px;
        }
        .tab-btn {
            font-size: 16px;
            top: -20px;
            position: relative;
        }
        #contact-info {
            font-size: 20px;
            width: 350px;
        }
        #content {
            margin: -20px;
        }
        #subtitle {
            font-size:18px;
            margin: 0px;
            margin-bottom: 5px;
            margin-top: 0px;
            padding-top: 20px;
        }
    } 
    @media only screen 
    and (min-device-width: 2000px) 
    and (orientation: landscape) {  
        * {
            font-size: 45px;
        }
        h3 {
            font-size: 45px;
        }
        .contact-method {
            font-size: 50px;
        }
        .intro{
            font-size: 45px;
            padding-right: 40px;
            width: 40%;
        }
        .menu {
            font-size: 45px;
            margin-bottom: 5px;
            row-gap: 0px;
            width: 30%;
        }
        .tab-btn {
            font-size: 45px;
            margin-top: -20px;
        }
        #contact-info {
            font-size: 50px;
            width: 25%;
        }
        #subtitle {
            font-size:50px;
            margin: 0px;
            margin-bottom: 5px;
            margin-top: 0px;
            padding-top: 70px;
        }
    } 

