@font-face {
    font-family: 'BarkingCat';
    src: url('./Barkingcatdemo-lR9w.otf');
}

@font-face {
    font-family: 'FrescaReg';
    src: url('./Fresca-Regular.ttf');
}

* {
    font-family:helvetica, arial, sans-serif;
    font-size: 20px;
    text-align:center;
}

body, html {
    /* background-color: #C7E1FF; */
    /* background: rgb(199,225,255); */


    height: 100%;
    margin: 0;
  }

h3 {
    font-family: 'FrescaReg';
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 0px;
    padding-top:10px;
}

span {
    background-color: #C7E1FF;
    white-space: pre;
}

.bold {
    font-weight:bold;
}

.hidden {
    display: none;
}

.menu {
    row-gap: 10px;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    margin: auto;
    margin-bottom: 0px;
    overflow: hidden;
    text-decoration:solid;
    white-space: nowrap;
    width: 350px;
}

.menu-name {
    font-family: 'FrescaReg'; 
    text-align: left;
}

.menu-name:after {
    left: 50px;
    width: 0;
    white-space: nowrap pre;
    content:
    " . . . . . . . . . . . . . . . . . . . . . . . ."
    " . . . . . . . . . . . . . . . . . . . . . . . ."
}

.menu-price {
    font-family: 'FrescaReg'; 
    text-align: right;
}

.tab-btn {
    background-color:#85c3fa;
    /* background: linear-gradient(0deg, rgba(199,225,255,1) 20%, rgba(133,195,250,1) 34%); */
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 14px;
    font-size: 18px;
    width: 33.3%;
    margin-top: -10px;
}

.tab-btn:hover {
    /* background-color:azure; */
    font-weight: bold;

}

.selected-tab {
    background-color: #85c3fa;
    background-image: url(tab_cloud.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    font-weight:bold;
}

#content {
    background: linear-gradient(0deg, rgba(199,225,255,1) 95%, rgba(133,195,250,1) 100%);
    height: 100%;
}

#full-menu {
    padding-top: 20px;
}

#footer {
    position:absolute;
    bottom: 0px;
    left: 0px;
}

#intro {
    margin:auto;
    margin-top: 0px;
    padding-top: 25px;
    width: 500px;
}

#subtitle {
    font-family: 'FrescaReg';
    font-size: 40px;
    margin-top:0;
    margin-bottom:2%;
    padding-top: 5%;
}

#contact-info {
    display:grid;
    font-family: 'FrescaReg';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin:auto;
    row-gap: 20px;
    width: 300px;
}

@media only screen 
  and (min-device-width: 350px) 
  and (max-device-width: 812px) 
  and (orientation: portrait)
    {  
        *, .tab-btn {
            font-size: 48px;
        }
        h3 {
            margin-bottom: 40px;
        }
        .menu, #intro, #contact-info {
            font-size: 56px;
            row-gap: 50px;
            width: 700px;
        }
        .menu-name {
            font-size: 56px;
        }
        #subtitle {
            font-size:60px;
            margin-top: 75px;
        }
    } 
@media only screen 
    and (min-device-width: 350px) 
    and (max-device-width: 812px) 
    and (orientation: landscape) {  
        .tab-btn {
            font-size: 16px;
        }
        h3 {
            font-size: 18px;
        }
        #contact-info {
            font-size: 20px;
            width: 350px;
        }
        #intro{
            font-size: 20px;
            width: 500px;
        }
        .menu {
            font-size: 18px;
            margin-bottom: 5px;
            row-gap: 0px;
            width: 250px;
        }
        .menu-name {
            font-size: 18px;
            margin-bottom: 5px;
            margin-top: 5px;
        }
        h3 {
            position:absolute;
            left: 300px;
            margin: 0px;
        }
        #subtitle {
            font-size:30px;
            margin: 0px;
            margin-bottom: 5px;
            margin-top: 10px;
        }
    } 
